footer.footer#contacts
	.wrapper
		.footer__wrap
			.footer__copy
				.copy 
					div © Скала героев, 2020
					div
						a(href="#") Политика конфиденциальности
			.footer__contacts
				.f-contacts
					address.f-contacts__address г. Челябинск 
						br
						|  ул. Образцова, 10
					.f-contacts__another
						address.f-contacts__phone
							a(href="tel:+ 7 800 345-56-78") + 7 800 345-56-78
						address.f-contacts__mail
							a(href="mailto:info@skalageroev.ru") info@skalageroev.ru
			.footer__dev
				a.dev(href="#")
					img(src="img/ico-developer.svg", alt="XPage")