aside.mobile-menu__cont
	.mobile-menu
		nav.mobile-menu__menu
			ul.h-menu
				each item in [{title: "Участники", link: "#peoples"}, {title: "Инструкция", link: "#instruct"}, {title: "Новости", link: "#news"}, {title: "Контакты", link: "#contacts"}, {title: "О проекте", link: "#"}]
					li
						a.h-menu__link(href=item.link)=item.title
		.mobile-menu__contacts
			.f-contacts
				address.f-contacts__address г. Челябинск 
					br
					|  ул. Образцова, 10
				.f-contacts__another
					address.f-contacts__phone
						a(href="tel:+ 7 800 345-56-78") + 7 800 345-56-78
					address.f-contacts__mail
						a(href="mailto:info@skalageroev.ru") info@skalageroev.ru
header.head
	.wrapper
		.head__wrapper
			.head__logo
				<!-- file_get_contents img/logo.svg -->
				a.logo(href="#")
					include ../../img/logo.svg
			nav.head__nav
				ul.h-menu
					each item in [{title: "Участники", link: "#peoples"}, {title: "Инструкция", link: "#instruct"}, {title: "Новости", link: "#news"}, {title: "Контакты", link: "#contacts"}, {title: "О проекте", link: "#"}]
						li
							a.h-menu__link(href=item.link)=item.title
			.head__btn
				a.default-btn.scrollto(href="#form") Оставить заявку
			.head__burger
				.burger
					span