<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		main#content
			.inner-content
				.inner-content__title
					.title-block
						figure.title-block__bg
							img(src="img/inner-top-bg.jpg")
						.title-block__title
							.wrapper
								h1 Кратко о проекте
				.inner-content__content
					.wrapper
						.inner-page
							.inner-page__text
								p «Скала героев» - проект депутата Государственной Думы Олега Колесникова, приуроченный к 75-летию Победы в Великой Отечественной войне. Это первый общенародный памятник южноуральцам, прошедшим Великую Отечественной войну. 
								p Принять участие в уникальном проекте может каждый житель Челябинской области. Для этого необходимо внести анкетные данные своего родственники в специальном разделе сайта. Все, кто примет участие в создании мемориала, смогут побывать на его открытии. Памятник «Скала героев» будет установлен в сентябре на одной из вершин Южного Урала.
							.inner-page__bio
								.bio
									.bio__person
										.person
											figure.person__img
												img(src="img/photos/person-img.jpg")
											figcaption.person__text
												.person__text-title
													b Олег Колесников 
												.person__text-subtitle депутат Государственной Думы Российской Федерации, работает в комитете по безопасности и борьбе с коррупцией;
									.bio__text
										.bio__text-title Биография
										.bio__text-text
											p.marked Родился 11 сентября 1968 года в шахтерском поселке Красногорский Еманжелинского района Челябинской области, после окончания школы поступил на энергетический факультет ЧПИ. В 1987 году был призван на армейскую службу, имеет звание «лейтенант запаса».
											p В 1992-ом году Олег Колесников окончил вуз. В непростое для всей страны время им было восстановлено и построено с нуля несколько крупных промышленных предприятий не только в Челябинске, но и в сельских районах области. Общее число новых рабочих мест на них превышает 20 000.  На сегодняшний день все предприятия продолжают успешно работать и развиваться. 
											p.marked В декабре 2005-го года Олег Колесников был избран депутатом Законодательного собрания Челябинской области. В декабре 2007-го – депутатом Государственной Думы РФ. Входил в состав аграрного комитета, занимался разработкой законов и государственных программ, направленных на поддержку села и фермерских хозяйств. В декабре 2011 года вновь стал депутатом Государственной Думы в составе списка «Общероссийского Народного Фронта». С 2016 года – депутат Государственной Думы по Златоустовскому одномандатному избирательному округу. 
											p.marked В 2011-ом году стал лауреатом премии «Человек года». В 2012-ом Олег Колесников удостоен высшей награды региона – знаком отличия «За заслуги перед Челябинской областью». 
											p Занимается общественной работой, входит в состав попечительского совета по строительству Кафедрального собора Рождества Христова в Челябинске, оказывает поддержку в строительстве мечетей Духовному управлению мусульман Челябинской области. 
											p.marked Олег Колесников - Президент Федерации «Айкидо Айкикай» России, оказывает поддержку не только спортсменам, но и деятелям культуры, общественным организациям, ветеранам, детям с ограниченными возможностями. 
											p Женат, супруга Лена Колесникова – председатель Конгресса татар Челябинской области. В их семье трое детей. С одинаковым уважением они относятся и к русским, и к татарским традициям. Свободное время Олег Колесников посвящает чтению, занятиям спортом, любит вместе с семьей бывать на своей малой родине, где до сих пор живут его родители. 
		include inc/footer.pug
		include inc/scripts.pug